html {
  @apply bg-zinc-50;
  @apply text-zinc-800;
  scrollbar-color: #00000080 transparent;
  scrollbar-width: auto;
}

html[data-mode*='dark'] {
  @apply bg-zinc-800;
  @apply text-zinc-50;
  scrollbar-color: #ffffffb3 transparent;
  scrollbar-width: auto;
}
