@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* zinc-50 */
    --background: 0 0% 98%;
    /* zinc-800 */
    --foreground: 240 4% 16%;

    /* zinc-200 */
    --muted: 240 5% 96%;
    /* zinc-700 */
    --muted-foreground: 240 5% 26%;

    /* zinc-50 */
    --popover: 0 0% 98%;
    --popover-foreground: 240 4% 16%;

    /* --card: 0 0% 98%;
    --card-foreground: 240 4% 16%; */

    /* zinc-500 */
    --border: 240 5% 65%;
    --input: 240 5% 65%;

    /* blue-600 */
    --primary: 221 83% 53%;
    /* zinc-50 */
    --primary-foreground: 0 0% 98%;

    /* zinc-700 */
    --secondary: 240 5% 26%;
    /* zinc-100 */
    --secondary-foreground: 240 5% 96%;

    /* zinc-500 */
    --accent: 240 5% 65%;
    /* zinc-100 */
    --accent-foreground: 240 5% 96%;

    /* red-500 */
    --destructive: 0 84% 60%;
    /* zinc-100 */
    --destructive-foreground: 240 5% 96%;

    /* blue-600 */
    --ring: 221 83% 53%;

    --radius: 0.5rem;
  }

  .dark,
  [data-mode='dark'] {
    /* zinc-800 */
    --background: 240 4% 16%;
    /* zinc-50 */
    --foreground: 0 0% 98%;

    /* zinc-700 */
    --muted: 240 5% 26%;
    /* zinc-200 */
    --muted-foreground: 240 6% 90%;

    /* zinc-800 */
    --popover: 240 4% 16%;
    /* zinc-200 */
    --popover-foreground: 240 6% 90%;

    /* --card: 240 4% 16%;
    --card-foreground: 0 0% 98%; */

    /* zinc-500 */
    --border: 240 4% 46%;
    --input: 240 4% 46%;

    /* blue-600 */
    --primary: 221 83% 53%;
    /* zinc-50 */
    --primary-foreground: 0 0% 98%;

    /* zinc-700 */
    --secondary: 240 5% 26%;
    /* zinc-100 */
    --secondary-foreground: 240 5% 96%;

    /* zinc-500 */
    --accent: 240 4% 46%;
    /* zinc-100 */
    --accent-foreground: 240 5% 96%;

    /* red-500 */
    --destructive: 0 84% 60%;
    /* zinc-100 */
    --destructive-foreground: 240 5% 96%;

    /* blue-600 */
    --ring: 221 83% 53%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
